/* font family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,500&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

/* defualt css */
*{
    padding: 0;
    margin: 0;

}
body{
    font-family: 'Poppins', sans-serif;
    background: #E5E5E5;
}
img{
    max-width: 100%;

}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    width: 870px;
    background-color: white;
    padding: 33px;
    border-radius: 10px;
    
}

/* ------------------------
    header section 
---------------------------*/
header{

    background-color: #562EFF;


}
.header-container{
    display: flex;
    justify-content: center;
}
.header {
	display: flex;
	width: 935px;

	justify-content: space-between;
}
.header-logo{
    display: flex;
    align-items: center;
}

.header-logo img{
    width: 40px;
    height: 51px;
    
}
.header-logo h4 {
	font-size: 24px;
	color: white;
	font-weight: 500;
	margin-left: 15px;
}

.menu ul {
	display: flex;
	align-items: center;
	height: 80px;
}
.menu ul li{
    display: inline-block;
    margin-left: 20px;
}
.menu ul li a {
	text-decoration: none;
	color: white;
    display: inline-block;
}



/* ------------------------
    top player section 
---------------------------*/
.top{
    margin: 18px;
}

.player-title{
    margin-bottom: 20px;
}
.player-title h3{
    font-size: 24px;
    font-weight: 500;
    color: #562EFF;
    
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 29px;
    
}
.player{
    display: flex;
    align-items: center;

    border-radius: 70px;
    height: 80px;
    width: 250px;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);


}
.player h4{
    font-size: 18px;
    font-weight: 500;
    margin-left: 16px;

}
.player img{
    width: 56px;
    height: 56px;
    margin-left: 20px;

}

hr{
    border: 1px solid #D1D1D1;
    margin: 30px 0;
}


/* ------------------------
    top blog section 
---------------------------*/

.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
    grid-column-gap: 80px;
}
.blog{
    display: flex;
}


.blog-img img{
    height: 117px;
    width: 177px;
}

.blog-info{
    margin-left: 16px;
}
.blog-info h4{
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
    max-width: 166px;
}
.blog-info p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #9F9F9F;
}
.blog-info p a{
    text-decoration: none;
    color: #562EFF;
}

/* ------------------------
    latest courses section
---------------------------*/
.bottom{
    margin-bottom: 18px;
}
.courses{
    display: flex;
    justify-content: space-around;
   

}
.cours{
    max-width: 226px;
    height: 250px;
    width: 252px;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
    padding: 15px;
    border-radius: 10px;

}
.cours-img img{
    width: 224px;
    height: 104px;
}
.cours-details h4 {
	font-size: 20.03px;
	line-height: 23.48px;
	font-weight: 500;
    padding-top: 18px;
}
.cours-details p {
	color: #ED6B4F;
	font-size: 14.69px;
	font-weight: 400;
    padding-top: 8px;
    padding-bottom: 15px;
}
.cours-rating-info{
    display: flex;
    justify-content: space-between;
}

.cours-rating i{
    color: #FFC014;
    font-size: 12px;
}
.cours-rating i:nth-child(5){
    color: #AEAEAE;
}
.cours-rating span{
    color: #AEAEAE;
    font-size: 13px;
    
}
.cour-doretion {
	color: #FF4A60;
	background: #FFE4E8;
	border-radius: 14.6913px;
	width: 94px;
	height: 29px;
	text-align: center;
	line-height: 29px;
	
}
.cour-doretion i{
    font-size: 14.50px;
}
.cour-doretion span{
    font-size: 14.50px;
    font-weight: 500;
}


/* ------------------------
     responsive layout
-------------------------- */


@media only screen and (max-width: 992px) {
    .header {
        width: 100%;
        max-width: 80%;
    }
    .container {
        width: 90%;
    }
    .players {
        grid-template-columns: repeat(2, 1fr);
    }
    .player-title h3 {
        text-align: center;
    }
    .players {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .blogs {
        grid-row-gap: 26px;
        grid-column-gap: 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .courses {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .cours {
        max-width: 226px;
        height: 240px;
        margin-bottom: 21px;
        
    }
}

@media  only screen and (max-width: 500px) {
    .header {
        width: 100%;
        max-width: 90%;
    }
    .header-logo img {
        width: 30px;
        height: 36px;
    }
    .header-logo h4 {
        font-size: 18px;
        margin-left: 8px;
    }
    .menu ul li {
        margin-left: 9px;
    }
    .menu ul li a {
        font-size: 13px;
    }
    .menu ul li a img {
        width: 36px;
    }
    .cours-details h4 {
        font-size: 18.03px;
        padding-top: 10px;
    }
    .cour-doretion span {
        font-size: 12.5px;
    }
    .menu ul {
        height: 60px;
    }
}
@media  only screen and (max-width: 500px){
    .blog-info h4 {
        font-size: 16px;
        max-width: 158px;
    }
    
}